<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="PayPal - API Automation Suite using Rest Assured API">
	<listeners>
		<listener class-name="com.learning.listeners.ExtentListeners">
		</listener>
	</listeners>

	<test name="Create Order API Test">
		<classes>
			<class name="com.learning.testcases.paypal.CreateOrderTest" />
		</classes>
	</test> <!-- Test -->

	<test name="Get Order API Test">
		<classes>
			<class name="com.learning.testcases.paypal.GetOrderTest" />
		</classes>
	</test> <!-- Test -->



</suite> <!-- Suite -->
